<div class="wrapper">
    <div class="side-bar">
      <%#_side_barをテンプレートとして呼び出す%>
      <%= render "side_bar" %>
      </div>
      <div class="chat">
      <%#_main_chatをテンプレートとして呼び出す%>
      <%= render "main_chat" %>
      </div>
</div>